{% comment %}
  Renders a product card
  Accepts:
  - product_ref: {Object} Product Liquid object
  - layout_type: {String} Horizontal
  - section_id: {String} Section id
  - block_index: {Number} Block index for unique id
  Usage:
  {%- render 'card-product', product_ref: product_ref, section_id: section.id, block_index: block_index  -%}
{% endcomment %}

{% comment %} Product Media {% endcomment %}

{%- liquid
  assign image_per_view = image_per_view | default: 4
  assign image_loading = image_loading | default: 'lazy'

  assign search_product = search_product | default: false
  assign is_in_drawer = is_in_drawer | default: false
  assign product_images = product_ref.variants | map: 'featured_image' | uniq

  assign variants_display_desktop = settings.product_card_variants_display_desktop
  assign variants_display_mobile = settings.product_card_variants_display_mobile

  echo show_variants

  assign show_variants = show_variants | default: true

  assign product_title_placeholder = 'product.label' | t
-%}

{%- capture media -%}
  {% comment %} Variables | Product Media {% endcomment %}
  {%- assign media_classes = "product-card__media" -%}
  {%- if settings.product_card_media_hover and product_ref.gift_card? == false -%}
    {%- assign media_classes = media_classes | append: ' product-card__media--hoverable' -%}
  {%- endif -%}

  {% comment %} Styles | Product Media {% endcomment %}
  <style>
    .product-card__media {
      --product-card-media-aspect-ratio: {{ settings.product_card_media_aspect_ratio }};
      --product-card-media-object-fit: {{ settings.product_card_media_object_fit }};
    }
  </style>

  {% comment %} Render | Product Media {% endcomment %}
  <div class="{{ media_classes }}" style="background: {{ product_ref.metafields.custom.collecetion_bg | default: '#FAF7ED' }}" >
    {% liquid
      assign hover_media = product_ref.media[1]

      if hover_media.media_type == 'video' or hover_media.media_type == 'external_video'
        assign hover_media = product_ref.media[2]
      endif

      if product_ref.featured_image
        if product_images.size > 1 and variants_display_desktop != 'none' or variants_display_mobile != 'none'
          for product_image in product_images
            if product_image != blank
              assign data_product_images = ''
              for variant in product_ref.variants
                if variant.featured_image == product_image
                  assign data_product_images = data_product_images | append: variant.id | append: ','
                endif
              endfor
              assign data_product_images = data_product_images | split: ',' | uniq | join: ','
              if data_product_images != ""
                assign attr = 'data-product-images="' | append: data_product_images | append: '"'
              endif
              unless forloop.first
                render 'image', image: product_image, attr: attr, class: 'hidden', image_per_view: image_per_view
              else
                render 'image', image: product_image, attr: attr, image_per_view: image_per_view, loading: image_loading
              endunless
            endif
          endfor
        else
          render 'image', image: product_ref.featured_image, image_per_view: image_per_view
        endif

        if settings.product_card_media_hover and product_ref.media.size > 1 and hover_media != nil
          render 'image', image: hover_media, alt: hover_media.alt | default: product_ref.title, class: 'hover-img', image_per_view: image_per_view
        endif
      else
        echo 'product-1' | placeholder_svg_tag: 'placeholder-svg'
      endif
    %}
    <span class="cstm-product_tag">{{ product_ref.metafields.custom.collection_tag | join: ', ' }}</span>
  </div>
{%- endcapture -%}


<product-card class="product-card fade-in-item{% if layout_type == 'horizontal' %} product-card__horizontal{% endif %}{% unless product_ref.available %} product-card__sold-out{% endunless %}">
  <div class="product-card__actions">
    <a href="{{ product_ref.url }}" tabindex="-1" class="product-card__link" data-product-link title="{{ 'product.go_to_title' | t : title: product_ref.title }}">
      {{ media }}
    </a>
    {% unless layout_type == 'horizontal' %}
      {% comment %}
      <button type="button"
        class="button product-card__compare-button js-btn-product-compare button--icon color-{{ settings.product_card_action_buttons_color_scheme }}"
        data-product-handle="{{ product_ref.handle }}" aria-label="Add product to compare"
        data-product-featured-image="{{ product_ref.featured_image |  image_url: width: 100, height: 100 }}"
        data-product-metafield-compare = '{{ product_ref.metafields.metaobject.product_compare.value | json }}'
      >
        {% render 'icon', icon_name: 'theme-compare' %}
      </button>
      {% endcomment %}
      {{ add_to_cart }}
    {% endunless %}
  </div>
  <div class="product-card__content">
    {%- liquid
      assign product_card_info_classes = 'product-card__info'
      if settings.product_card_badge_position == 'start'
        assign product_card_info_classes = product_card_info_classes | append: ' product-card__badge--on-start'
      endif
      if settings.product_card_price_position == 'inline'
        assign product_card_info_classes = product_card_info_classes | append: ' product-card__price--inline'
      endif
    -%}
    <div class="{{ product_card_info_classes }}">
      <h3 class="product-card__title">
        <a href="{{ product_ref.url }}" class="product-card__link" tabindex="{% if is_in_drawer == true %}-1{% else %}0{% endif %}" data-product-link title="{{ 'product.go_to_title' | t : title: product_ref.title }}">
          <span>{{ product_ref.metafields.custom.collection_card_title | default: product_ref.title | default: product_title_placeholder }}</span>
        </a>
        {% comment %} {% render 'product-badges', product: product_ref %} {% endcomment %}
      </h3>
      {% if product_ref.metafields.custom.collection_card_subtitle %}
        <p class="product-card__subtitle">{{ product_ref.metafields.custom.collection_card_subtitle }}</p>
      {% endif %}
      {% comment %} <span class="product-card__price">
        {%- unless settings.product_card_variants_hidden -%}
          {%- render 'price', product: product_ref, use_variant: true -%}
        {%- else -%}
          {%- render 'price', product: product_ref -%}
        {%- endunless -%}
      </span> {% endcomment %}
    </div>

    {% assign icons = product_ref.metafields.custom.collection_card_icons.value %}
    {% assign texts = product_ref.metafields.custom.collection_card_icons_text.value %}

    {% if icons != blank and texts != blank %}
        <ul class="product-card_icons-list">
            {% for icon in icons %}
            {% assign index = forloop.index0 %}
            {% assign text = texts[index] %}

            <li class="product-card_icons-item">
                <span class="product-card_icons-icon">
                {{ icon | image_url: width: 100 | image_tag: alt: text }}
                </span>

                {% if text != blank %}
                <span class="product-card_icons-text">{{ text }}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ product_variants }}
    {% if layout_type == 'horizontal' %}{{ add_to_cart }}{% endif %}
    {% comment %} ! Product Add-To-Cart Button {% endcomment %}
    
    {%- assign button_classes = 'button product-card__add-to-cart--button color-' | append: settings.product_card_action_buttons_color_scheme | append: ' ' -%}
    
    {%- comment %} Render Button {% endcomment -%}
    <form class="product-card__add-to-cart--form" action="/cart/add" method="post">
      
      <div class="collection-card__varients {% if product_ref.variants.size == 1 %} collection-card__varients_none {% endif %} ">

        {% comment %} ========= Bigger Variant selected By defualt ======= {% endcomment %}

          {% assign largest_variant = product_ref.variants.first %}
          {% assign max_size = 0 %}

          {% for variant in product_ref.variants %}
            {% assign size_text = variant.title | split: 'g' | first %}
            {% assign size = size_text | plus: 0 %}

            {% if size > max_size %}
              {% assign max_size = size %}
              {% assign largest_variant = variant %}
            {% endif %}
          {% endfor %}

          {%- comment %} Variant Selector {% endcomment -%}
          {% if product_ref.variants.size > 1 %}
            <select name="id" class="product-card__variant-select">
              {% for variant in product_ref.variants %}
                {% if variant.available %}
                  <option 
                      value="{{ variant.id }}" 
                      data-price="{{ variant.price | money }}"
                      data-tag="{{ variant.metafields.custom.variant_tag | escape }}"
                      {% unless variant.available %}disabled{% endunless %}
                      {% if variant.id == largest_variant.id %}selected{% endif %}
                  >
                    {{ variant.title }} 
                  </option>
                {% else %}
                  <option value="{{ variant.id }}" disabled>
                    {{ variant.title }} — Sold Out
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            <span class="collection-card__icon">
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L10 10L19 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            {% if largest_variant.metafields.custom.variant_tag %}
              <div class="collection-card__variant-tag">
                  {{ largest_variant.metafields.custom.variant_tag }}
              </div>
            {% endif %}

          {% else %}
            <input type="hidden" name="id" value="{{ largest_variant.id }}">
          {% endif %}
      </div>
      <input type="hidden" name="quantity" value="1">
      {% assign plans = largest_variant.selling_plan_allocations %}
      {% if plans.size > 0 %}
        <input class="selling-plan-input" 
          type="hidden" 
          name="selling_plan" 
          value="{{ plans.first.selling_plan.id }}"
          disabled
        >
      {% endif %}
      
      <button type="submit" class="{{ button_classes }}" 
        {%- unless product_ref.available -%}disabled{%- endunless -%}
      >
        <span class="buy-button__text">
            Buy — {{ largest_variant.price | money }}
        </span>
        <span class="buy-button__icon">
            <svg width="50" height="36" viewBox="0 0 50 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="50" height="36" rx="18" fill="white"/>
                <path d="M12 17.6621H38M38 17.6621L30 9.66211M38 17.6621L30 25.6621" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
      </button>
    </form>
  </div>



</product-card>

{% comment %} ==== update the price in the main collection file to show the price of the selected variant instead of the product price.==== {% endcomment %}

<script>
  document.querySelectorAll('.product-card__add-to-cart--form').forEach(form => {
    const select = form.querySelector('.product-card__variant-select');
    const buttonText = form.querySelector('.buy-button__text');

    if (!select || !buttonText) return;

    select.addEventListener('change', function () {
      const selectedOption = this.options[this.selectedIndex];
      const price = selectedOption.dataset.price;

      buttonText.textContent = `Buy — ${price}`;
    });
  });
</script>


{% comment %} ===== variant tag display logic in the main collection file ===== {% endcomment %}

<script>
  document.querySelectorAll('.product-card__add-to-cart--form').forEach(form => {
    const select = form.querySelector('.product-card__variant-select');
    const tagEl = form.querySelector('.collection-card__variant-tag');

    if (!select || !tagEl) return;

    select.addEventListener('change', function () {
      const selected = this.options[this.selectedIndex];
      tagEl.textContent = selected.dataset.tag || '';
    });
  });
</script>


{% comment %} ==== selling plan toggle on checkbox ===== {% endcomment %}

<script>
  document.querySelectorAll('.product-card__add-to-cart--form').forEach(form => {
    const checkbox = document.querySelector('.subscribe-toggle__checkbox');
    const sellingPlanInput = form.querySelector('.selling-plan-input');

    if (!checkbox || !sellingPlanInput) return;

    const updateSellingPlan = () => {
      sellingPlanInput.disabled = !checkbox.checked;
    };

    updateSellingPlan();
    checkbox.addEventListener('change', updateSellingPlan);
  });
</script>
