{%- assign product = product.metafields.custom.optional_product.value -%}

{%- if product != blank -%}
  <div class="optional-product-upsell">
    {% if block.settings.main_heading != blank %}
      <h2 class="upsell-main-title">{{ block.settings.main_heading }}</h2>
    {% endif %}

    <div class="upsell-card" style="background-color: {{ block.settings.bg_color }};">
      <div class="upsell-grid">
        <div class="upsell-image">
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 1600 | image_tag:
                widths: '50, 100, 150, 200, 250, 300, 400, 500,600,1440',
                alt: "image",
                loading: "lazy"
            }}
          {%- else -%}
            {{ product.featured_image | image_url: width: 1600 | image_tag:
                widths: '50, 100, 150, 200, 250, 300, 400, 500,600,1440',
                alt: "product.title",
                loading: "lazy"
            }}
          {%- endif -%}
        </div>

        <div class="upsell-content">
          <h3 class="upsell-inner-title">
            {%- if block.settings.inner_title != blank -%}
              {{ block.settings.inner_title }}
            {%- else -%}
              {{ product.metafields.custom.optional_product_title }}
            {%- endif -%}
          </h3>

          <p class="upsell-subtitle">
            {%- if block.settings.inner_subtitle != blank -%}
              {{ block.settings.inner_subtitle }}
            {%- else -%}
              {{ product.metafields.custom.optional_product_subtitle }}
            {%- endif -%}
          </p>


          <div class="upsell_product-price-wrapper">
            <div class="upsell_product-prices">
              <span class="upsell_product-price-main">{{ product.selected_or_first_available_variant.price | money }}</span>
              <span class="upsell_product-price-compare">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
            </div>
            {% assign price = product.selected_or_first_available_variant.price %}
            {% assign compare = product.selected_or_first_available_variant.compare_at_price %}

            {% if compare > price %}
              <span class="upsell-product-saving">
                save {{ compare | minus: price | money }}
              </span>
            {% endif %}
          </div>

          <div class="upsell_add-button">
            <product-form
                id="ProductForm-{{- section.id -}}"
                data-section-id="{{- section.id -}}"
                {% unless current_selling_plan_allocation == null %}
                data-has-selling-plan
                {% endunless %}
            >
                {%- liquid
                assign form_class = 'product__form'
                if block.settings.show_quantity and block.settings.quantity_type != 'separate'
                    assign form_class = form_class | append: ' product__form--' | append: block.settings.quantity_type
                endif
                -%}

                {%- form 'product', product, data-productid: product.id, id: product_form_id, class: form_class, novalidate: 'novalidate' -%}
                {%- if gift_card_recipient_feature_active -%}
                    {% style %}
                    @media screen and (min-width: 750px) {
                        .product__form--inline {
                        grid-template-rows: auto 5rem auto auto;
                        }
                    }
                    {% endstyle %}
                    {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                {%- endif -%}

                <div class="product-selector__quantity {% unless block.settings.show_quantity %} hidden {% endunless %}">
                    {%- render 'quantity-input', product_ref: product, hide_label: true -%}
                </div>

                {%- if product.variants.size == 1 -%}
                    <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{- product.selected_or_first_available_variant.id -}}">
                {%- endif -%}
                <input
                  type="hidden"
                  name="id"
                  data-productid="{{ product.id }}"
                  value="{{ product.selected_or_first_available_variant.id }}"
                >

                {%- liquid
                    assign value = 'product.sold_out' | t
                    assign disabled = true
                    unless product.has_only_default_variant and product.selected_or_first_available_variant.available == false
                    assign disabled = false
                    assign value = 'theme.actions.add_to_cart' | t
                    endunless

                    assign button_style = 'default'
                    if block.settings.show_dynamic_checkout
                    assign button_style = 'solid'
                    endif
                    render 'button', type: 'submit', name: 'add', style: button_style, value: 'add to cart' show_svg: block.settings.show_svg , class: 'button product-selector__submit no-js-hidden', disabled: disabled
                    assign value = null
                    assign disabled = null

                    assign no_js_value = 'theme.actions.add_to_cart' | t
                    render 'button', type: 'submit', name: 'add', style: button_style, value: no_js_value, class: 'button product-selector__submit no-js'
                -%}

                <p class="color-alert hidden" data-error-wrapper></p>

                {%- if block.settings.show_dynamic_checkout -%}
                    {{- form | payment_button -}}
                {%- endif -%}
                {%- endform -%}
            </product-form>
          </div>

        </div>
      </div>
    </div>
  </div>
{%- endif -%}

<style>

.optional-product-upsell {
    margin-top: 32px;
}
.upsell-main-title {
    margin: 0 0 12px;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: uppercase;
}
.upsell-card {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
}
.upsell-grid {
    display: flex;
    align-items: center;
    gap: 16px;
}
.upsell-image {
    max-width: 34%;
    width: 100%;
    height: auto;
}
  .upsell-image img { width: 100%; height: 100%; display: block; object-fit: contain; }
.upsell-content {
    max-width: 100%;
    width: 100%;
}
  .upsell-inner-title {
    margin: 0 0 8px;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    text-transform: uppercase;
}
.upsell-subtitle {
    font-family: GT Cinetype;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #000000CC;
    margin: 0;
}
  
.upsell_add-button button.button.product-selector__submit {
    display: flex;
    align-items: center;
    gap: 7px 11px;
    padding: 10px 16px;
    border-radius: 50px;
    max-width: fit-content;
    background: #7B65FF;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 16px;
}

.upsell_add-button button.button.product-selector__submit:hover{
    color: #fff;
}

span.upsell_product-price-main {
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000000;
}

span.upsell_product-price-compare {
    font-family: GT Cinetype;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 6.5%;
    color: #00000080;
}

span.upsell-product-saving {
    border: 1px solid #00000033;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.9px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
}

.upsell_product-price-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: start;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
.optional-product-upsell {
    margin-top: 24px;
}

.upsell-main-title {
    margin: 0 0 12px;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: uppercase;
}

.upsell-card {
    padding: 20px 12px;
}

.upsell-grid {
    gap: 12px;
}

.upsell-inner-title {
    font-size: 14px;
}

.upsell-subtitle {
    font-size: 12px;
    line-height: 16px;
}

}
</style>
