{% style %}

.section-{{ section.id }}{
  position:relative;
  background: {{ section.settings.section_bg }};
  padding-top: {{ section.settings.padding_top_desktop }}px;
  padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
}

.section-{{ section.id }} .how-to-buy_abs_img{
  position:absolute;
  top:0;
  left:0;
  max-width: 200px;
  width:100%;
}

.section-{{ section.id }} .how-to-buy_abs_img img{
  width: 100%;
  height:100%;
  object-fit: cover;
  display:block;
}

.section-{{ section.id }} .how-to-buy-wrapper{
  position:relative;
}

.section-{{ section.id }} .how-to-buy-title{
    text-align: center;
    margin-bottom: 32px;
    font-family: PP Formula;
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
}

.section-{{ section.id }} .how-to-buy-blocks{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap: 16px;
}

.section-{{ section.id }} .how-to-buy-block{
    display: flex;
    flex-direction: column;
    gap: 83px;
    background-color: {{ section.settings.cards_bg }} ;
    border-radius: 20px;
    padding: 32px 18px;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.section-{{ section.id }} .how-to-buy-block:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.02);
}

.section-{{ section.id }} .how-to-buy-blcok_img {
    max-width: fit-content;
    width: 100%;
    height: 248px;
    align-self: center;
}

.section-{{ section.id }} .how-to-buy-blcok_img img{
  width:100%;
  height: 100%;
  object-fit: cover;
  display:block;
}

.section-{{ section.id }} .how-to-buy-block_title{
    margin: 0 0 12px;
    font-family: PP Formula;
    font-weight: 700;
    font-size: 36px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
}

.section-{{ section.id }} .how-to-buy-block_subtitle{
    margin:0;
    font-family: GT Cinetype;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #000;
}

.section-{{ section.id }} .how-to-buy-block-button{
  display:inline-flex;
  align-items:center;
  gap:10px;
  text-decoration:none;
  background: {{ section.settings.button_bg }};
  padding: 8px 13px;
  border-radius:75px;
  transition:all .3s ease;
}

span.how-to-buy-block-btn-text {
    color: #fff;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.section-{{ section.id }} .how-to-buy-block-button:hover .how-to-buy-block-btn-icon{
  transform:translateX(4px);
}

.section-{{ section.id }} .how-to-buy-block-btn-icon{
  background: {{ section.settings.button_icon_bg }};
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 8px 10px;
  border-radius:60px;
  transition:all .3s ease;
}

.how-to-buy-block_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.section-{{ section.id }} .how-to-buy-block-btn-icon img{
  width: 22px;
  height: 13px;
  display:block;
}


/* Mobile */

@media(max-width:768px){

.section-{{ section.id }}{
  padding-top: {{ section.settings.padding_top_mobile }}px;
  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
}

.section-{{ section.id }} .how-to-buy-blocks{
  grid-template-columns:1fr;
  gap: 16px;
}

.section-{{ section.id }} .how-to-buy-title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 44px;
}

.section-{{ section.id }} .how-to-buy-block {
    gap: 20px;
    border-radius: 24px;
}

.section-{{ section.id }} .how-to-buy-blcok_img {
    height: 180px;
}

.section-{{ section.id }} .how-to-buy-block_title {
    margin: 0 0 8px;
    font-size: 24px;
}

.section-{{ section.id }} .how-to-buy-block_subtitle {
    margin: 0;
    font-family: GT Cinetype;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #000;
}

span.how-to-buy-block-btn-text {
    font-size: 12px;
}

}

{% endstyle %}


<section class="how-to-buy-section section-{{ section.id }} fade-in-section">

    {% if section.settings.abs_image != blank %}
    <div class="how-to-buy_abs_img">
        {{ section.settings.abs_image | image_url: width:1600 | image_tag }}
    </div>
    {% endif %}

    <div class="page-width">
        <div class="how-to-buy-wrapper">

            {% if section.settings.title != blank %}
            <h2 class="how-to-buy-title fade-in-left">
                {{ section.settings.title }}
            </h2>
            {% endif %}

            {% if section.blocks.size > 0 %}
            <div class="how-to-buy-blocks">

                {% for block in section.blocks %}
                <div class="how-to-buy-block fade-in-item" {{ block.shopify_attributes }}>

                    {% if block.settings.image != blank %}
                    <div class="how-to-buy-blcok_img">
                        {{ block.settings.image | image_url: width:800 | image_tag }}
                    </div>
                    {% endif %}

                    <div class="how-to-buy-block_content">

                        <div class="how-to-buy-block_head">

                            {% if block.settings.title != blank %}
                            <h3 class="how-to-buy-block_title">
                                {{ block.settings.title }}
                            </h3>
                            {% endif %}

                            {% if block.settings.subtitle != blank %}
                            <p class="how-to-buy-block_subtitle">
                                {{ block.settings.subtitle }}
                            </p>
                            {% endif %}

                        </div>

                        {% if block.settings.button_text != blank %}
                        <a href="{{ block.settings.button_link }}" class="how-to-buy-block-button">

                            <span class="how-to-buy-block-btn-text">
                                {{ block.settings.button_text }}
                            </span>

                            {% if section.settings.button_icon != blank %}
                            <div class="how-to-buy-block-btn-icon">
                                {{ section.settings.button_icon | image_url: width:100 | image_tag }}
                            </div>
                            {% endif %}

                        </a>
                        {% endif %}

                    </div>

                </div>
                {% endfor %}

            </div>
            {% endif %}

        </div>
    </div>

</section>



{% schema %}
{
  "name": "How To Buy Section",
  "settings": [

    {
      "type": "image_picker",
      "id": "abs_image",
      "label": "Absolute Background Image"
    },

    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },

    {
      "type": "image_picker",
      "id": "button_icon",
      "label": "Button Icon"
    },

    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background",
      "default": "#000000"
    },

    {
      "type": "color",
      "id": "button_icon_bg",
      "label": "Button Icon Background",
      "default": "#ffffff"
    },

    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background",
      "default": "#ffffff"
    },

    {
      "type": "color",
      "id": "cards_bg",
      "label": "Cards Background",
      "default": "#FAF7ED"
    },

    {
      "type": "range",
      "id": "padding_top_desktop",
      "min":0,
      "max":200,
      "step":4,
      "default":80,
      "label":"Padding Top Desktop"
    },

    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min":0,
      "max":200,
      "step":4,
      "default":80,
      "label":"Padding Bottom Desktop"
    },

    {
      "type": "range",
      "id": "padding_top_mobile",
      "min":0,
      "max":200,
      "step":4,
      "default":40,
      "label":"Padding Top Mobile"
    },

    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min":0,
      "max":200,
      "step":4,
      "default":40,
      "label":"Padding Bottom Mobile"
    }

  ],

  "blocks":[
    {
      "type":"step",
      "name":"How To Buy Block",
      "settings":[

        {
          "type":"image_picker",
          "id":"image",
          "label":"Block Image"
        },

        {
          "type":"text",
          "id":"title",
          "label":"Block Title"
        },

        {
          "type":"text",
          "id":"subtitle",
          "label":"Block Subtitle"
        },

        {
          "type":"text",
          "id":"button_text",
          "label":"Button Text"
        },

        {
          "type":"url",
          "id":"button_link",
          "label":"Button Link"
        }

      ]
    }
  ],

  "presets":[
    {
      "name":"How To Buy Section",
      "category": "Custom",
      "blocks":[
        {"type":"step"},
        {"type":"step"},
        {"type":"step"}
      ]
    }
  ]
}
{% endschema %}
