<div class="Marquee">
  <div class="Marquee-content">
    <div class="Marquee-tag">{% if section.settings.icons-1 != blank %}<img src="{{ section.settings.icons-1 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-1 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-2 != blank %}<img src="{{ section.settings.icons-2 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-2 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-3 != blank %}<img src="{{ section.settings.icons-3 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-3 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-4 != blank %}<img src="{{ section.settings.icons-4 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-4 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-5 != blank %}<img src="{{ section.settings.icons-5 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-5 }}</h2>{% endif %}</div> 
    <div class="Marquee-tag">{% if section.settings.icons-1 != blank %}<img src="{{ section.settings.icons-1 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-1 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-2 != blank %}<img src="{{ section.settings.icons-2 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-2 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-3 != blank %}<img src="{{ section.settings.icons-3 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-3 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-4 != blank %}<img src="{{ section.settings.icons-4 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-4 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-5 != blank %}<img src="{{ section.settings.icons-5 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-5 }}</h2>{% endif %}</div> 
    <div class="Marquee-tag">{% if section.settings.icons-1 != blank %}<img src="{{ section.settings.icons-1 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-1 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-2 != blank %}<img src="{{ section.settings.icons-2 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-2 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-3 != blank %}<img src="{{ section.settings.icons-3 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-3 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-4 != blank %}<img src="{{ section.settings.icons-4 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-4 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-5 != blank %}<img src="{{ section.settings.icons-5 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-5 }}</h2>{% endif %}</div> 
    <div class="Marquee-tag">{% if section.settings.icons-1 != blank %}<img src="{{ section.settings.icons-1 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-1 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-2 != blank %}<img src="{{ section.settings.icons-2 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-2 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-3 != blank %}<img src="{{ section.settings.icons-3 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-3 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-4 != blank %}<img src="{{ section.settings.icons-4 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-4 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-5 != blank %}<img src="{{ section.settings.icons-5 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-5 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-1 != blank %}<img src="{{ section.settings.icons-1 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-1 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-2 != blank %}<img src="{{ section.settings.icons-2 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-2 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-3 != blank %}<img src="{{ section.settings.icons-3 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-3 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-4 != blank %}<img src="{{ section.settings.icons-4 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-4 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-5 != blank %}<img src="{{ section.settings.icons-5 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-5 }}</h2>{% endif %}</div> 
    <div class="Marquee-tag">{% if section.settings.icons-1 != blank %}<img src="{{ section.settings.icons-1 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-1 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-2 != blank %}<img src="{{ section.settings.icons-2 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-2 }}</h2>{% endif %}</div>
    <div class="Marquee-tag">{% if section.settings.icons-3 != blank %}<img src="{{ section.settings.icons-3 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-3 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-4 != blank %}<img src="{{ section.settings.icons-4 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-4 }}</h2>{% endif %}</div>    
    <div class="Marquee-tag">{% if section.settings.icons-5 != blank %}<img src="{{ section.settings.icons-5 | img_url : '50x' }}" alt="mushroom-icon" title="mushroom-icon"><h2>{{ section.settings.text-5 }}</h2>{% endif %}</div>   
  
  </div>
</div>

{% schema %}
  {
    "name": "Marquee",
    "settings": [
          {
            "type": "range",
            "id": "marquee_speed",
            "label": "Marquee Speed (seconds)",
            "min": 10,
            "max": 101,
            "step": 1,
            "default": 50
          },      
          {
            "id": "icons-1",
            "type": "image_picker",
            "label": "Icons 1"
          },
          {
            "id": "text-1",
            "type": "text",
            "label": "Text 1"
          },
          {
            "id": "icons-2",
            "type": "image_picker",
            "label": "Icons 2"
          },
          {
            "id": "text-2",
            "type": "text",
            "label": "Text 2"
          },
          {
            "id": "icons-3",
            "type": "image_picker",
            "label": "Icons 3"
          },
          {
            "id": "text-3",
            "type": "text",
            "label": "Text 3"
          },
          {
            "id": "icons-4",
            "type": "image_picker",
            "label": "Icons 4"
          },
          {
            "id": "text-4",
            "type": "text",
            "label": "Text 4"
          },
          {
            "id": "icons-5",
            "type": "image_picker",
            "label": "Icons 5"
          },
          {
            "id": "text-5",
            "type": "text",
            "label": "Text 5"
          }          
    ],
    "presets": [
      {
        "name": "New Marquee"
      }
    ]
  }
{% endschema %}



<style>

.Marquee {
    background: #000;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
    color: #fff;
    font-weight: 200;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.Marquee-tag img {
    padding: 0 14px;
    margin: 0px;
    max-width: 56px;
    object-fit: contain;
}
.Marquee-tag h2 {
    font-family: 'ITC Avant Garde Gothic' !important;
    font-weight: 900;
    color: #fff;
    font-size: 29.7px;
    margin: 0 0 0 10px;
}
 .Marquee-content {
	 display: flex;
	 animation: marquee {{ section.settings.marquee_speed }}s linear infinite running;
}
 .Marquee-tag {
	 width: max-content;
	 padding: 0.5em;
	 display: inline-flex;
	 align-items: center;
	 justify-content: center;
	 transition: all 0.6s ease;
}

 @-moz-keyframes marquee {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translate(-50%);
	}
}
 @-webkit-keyframes marquee {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translate(-50%);
	}
}
 @-o-keyframes marquee {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translate(-50%);
	}
}
 @keyframes marquee {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translate(-50%);
	}
}
</style> 







